<div class="row">
    <div class="col-3">
        <app-new-card></app-new-card>
    </div>
    <div class="col">
        <div class="row">
            <div class="col-lg-4 col col-md-6 col-sm-12" style="border: 1px solid;">
                <app-card-list></app-card-list>
            </div>
            <div class="col-lg-4 col col-md-6 col-sm-12" style="border: 1px solid;">
                <app-card-list></app-card-list>
            </div>
            <div class="col-lg-4 col col-md-6 col-sm-12" style="border: 1px solid;">
                <app-card-list></app-card-list>
            </div>
        </div>
    </div>
</div>