<h2>Login</h2>
<!--<div *ngIf="submitted && loginForm.value.username.errors.required">The username is required</div>-->
<!--<div *ngIf="submitted && loginForm.value.password.errors.required">The password is required</div>-->
<div *ngIf="error" class="alert alert-danger" role="alert">{{ error }}</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="username">Username</label>
    <input type="text" formControlName="username">
    <label for="password">Password</label>
    <input type="password" formControlName="password">
    
    <button type="submit" [disabled]="loading || loginForm.invalid" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Login
    </button>
</form>

